## Find Top K frequent element in a list

### Example 
    
###### K.           : [ 2 ]
###### Input     : [3 ,2 ,2 ,4 ,2 ,5 ,3 ,6 ,2 ,4, 5, 5]
###### Output : [2, 5]

In [114]:
def most_frequent_nums (nums, k):
    count = {}
    ret = []
    
    for i in nums:
        if i not in count:
            count[i] = 1
        
        else:
            count[i] += 1
            
    while k > 0:
        max_freq = 0
        max_key = 0
        
        for j in count:
            if count[j] > max_freq:
                max_freq = count[j]
                max_key = j
                
        ret.append(max_key)
        del count[max_key]
        k -=1
    return ret

In [115]:
most_frequent_nums([3 ,2 ,2 ,4 ,2 ,5 ,3 ,6 ,2 ,4, 5, 5],2)

[2, 5]

In [118]:
most_frequent_nums([4,4,4,1,1,1,1,1,2,2,2,2,3,3,3,3,5,5,5,5,5,2,2,2],4)

[2, 1, 5, 3]

## Find most frequent word in text

### Example 

##### THE TRAGEDY OF HAMLET, PRINCE OF DENMARK by William Shakespeare
###### K.           : [ 3 ]
###### Input     : 'HAMLET.txt'
###### Output : [['the', 1083], ['and', 939], ['to', 727]]

In [109]:
def most_frequent_words (txts, k):
     
    words = {}
    ret = []
    
    with open (txts,'r') as fr:
        for line in fr:
            for word in line.lower().strip().split():
            
                if word not in words:
                    words[word] = 1
            
                else:
                    words[word] += 1
    while k > 0:
        max_freq = 0
        max_key = 0
        
        for j in words:
            if words[j] > max_freq:
                max_freq = words[j]
                max_key = j
                
        ret.append([max_key, max_freq])
        del words[max_key]
        k -=1
            

    return ret

In [111]:
most_frequent_words('HAMLET.txt',3)

[['the', 1083], ['and', 939], ['to', 727]]

In [112]:
most_frequent_words('HAMLET.txt',5)

[['the', 1083], ['and', 939], ['to', 727], ['of', 670], ['a', 540]]

## Shorten URL

### Example 

###### Input     : "https://www.linkedin.com/in/hyungtaeg-oh-93071086/"
###### Output : "www.new_URL.com/4ldqpds"

In [277]:
class new_URL:
    
    start = 10000000000
    dic = {}
    
    def shorten_url (self, old):
        if old in self.dic:
            start = self.dic[old]
            new = self.make_new(start)
            
        else:
            self.dic[old] = self.start
            new = self.make_new(self.start)
            self.start += 1
        
        return "www.new_URL.com/"+ new
    
    def make_new(self, start):
        
        scale = "0123456789abcdefghijklmnopqrstuvwxyz"
        num = len(scale)
        ret = []
        
        while start > 0 :
            val = start % num
            ret.append(scale[val])
            start = start // num
            
        return "".join(ret[::-1])

In [276]:

new = new_URL()
print(new.shorten_url("https://www.linkedin.com/in/hyungtaeg-oh-93071086/"))
print(new.shorten_url("https://www.linkedin.com/in/hyungtaeg-oh-93071086/"))
print(new.shorten_url("www.abcdefghijklmnopqrstuvwxyz.com/ohtack1234567890/yes/"))

www.new_URL.com/4ldqpds
www.new_URL.com/4ldqpds
www.new_URL.com/4ldqpdt